{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Actor</th>
    </tr>
    {% for actor in actors %}
    <tr>
      <td>{{ actor.name }}</td>
       <td>
        <form method="GET" action="{{ url_for('actors_update_form', actor_id=actor.id) }}">
          <input type="submit" value="Update"/>
        </form>
      </td>
       <td>
        <form method="POST" action="{{ url_for('actors_delete', actor_id=actor.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}