<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elokuvakokoelma</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Logged in as {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Log out</a>
    </p>
    {% else %}
    <ul>
      <li><a href="{{ url_for('auth_login') }}">Log in</a></li>
      <li><a href="{{ url_for('auth_registration') }}">Register</a></li>
    </ul>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('movies_index') }}">List movies</a></li>
      <li><a href="{{ url_for('movies_add_form') }}">Add a movie</a></li>
      <li><a href="{{ url_for('actors_index') }}">List actors</a></li>
      <li><a href="{{ url_for('actors_add_form') }}">Add an actor</a></li>
    </ul>
    {% block body %}
      <p>Tähän tuodaan sisältö muualta.</p>
    {% endblock %}
  </body>
</html>