{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.username.label }}</strong>
      </td>
      <td>
        {{ form.username(class_='form-control') }}
      </td>
    </tr>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.password.label }}</strong>
      </td>
      <td>
        {{ form.password(class_='form-control') }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" class="btn btn-primary" value="Login" style="margin-top:10px"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}