{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_registration') }}">
  <table>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.name.label }}</strong>
      </td>
      <td>
        {{ form.name(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.username.label }}</strong>
      </td>
      <td>
        {{ form.username(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.password.label }}</strong>
      </td>
      <td>
        {{ form.password(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" class="btn btn-primary" value="Register" style="margin-top:10px"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}