{% extends "layout.html" %}

{% block body %}
<h2>{{ movie.name }} ({{ movie.year }})</h2>
<form method="POST" action="{{ url_for('movies_cast', movie_id=movie.id) }}">
  <table>
    {% for actor in actors %}
    <tr>
      <td>
         <input type="checkbox" name="{{ actor.id }}" {% if actor.id in cast %} checked {% endif %}/>
      </td>
      <td>
        {{ actor.name }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">
        <input type="submit" class="btn btn-primary" value="Update cast" style="margin-top:10px"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}