{% extends "layout.html" %}

{% block body %}
  <form method="POST" class="form-inline" action="{{ url_for('movies_filter') }}">
    <input type="text" class="form-control" name="filter" />
    <input type="submit" class="btn btn-primary mx-sm-3" value="Filter by actor"/>
  </form>
  {% if filter != "" %}
  <table>
    <tr>
      <td>Current filter: {{ filter }}</td>
      <td>
        <form method="GET" action="{{ url_for('movies_index') }}">
          <input type="submit" value="Remove filter"/>
        </form>
      </td>
    </tr>
  </table>
  {% endif %}
  <table class="table">
    <tr>
      <th style="border-top-style: none">Movie</th>
      <th style="border-top-style: none">Year</th>
      <th style="border-top-style: none">Runtime</th>
      <th style="border-top-style: none">Genre</th>
    </tr>
    {% for movie in movies %}
    <tr>
      <td>{{ movie.name }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.runtime }}</td>
      <td>{{ movie.genre }}</td>
      <td>
        <form method="GET" action="{{ url_for('movies_cast_form', movie_id=movie.id) }}">
          <input type="submit" class="btn btn-secondary" value="Update cast"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('ratings_form', movie_id=movie.id) }}">
          <input type="submit" class="btn btn-secondary" value="Add to my collection"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('movies_update_form', movie_id=movie.id) }}">
          <input type="submit" class="btn btn-secondary" value="Update"/>
        </form>
      </td>
       <td>
        <form method="POST" action="{{ url_for('movies_delete', movie_id=movie.id) }}">
          <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% if not movies %}
    <p>
      No movies found.
    </p>
  {% endif %}
{% endblock %}