{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Movie</th>
      <th>Year</th>
      <th>Runtime</th>
      <th>Genre</th>
    </tr>
    {% for movie in movies %}
    <tr>
      <td>{{ movie.name }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.runtime }}</td>
      <td>{{ movie.genre }}</td>
      <td>
        <form method="GET" action="{{ url_for('movies_update_form', movie_id=movie.id) }}">
          <input type="submit" value="Update"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('add_rating', movie_id=movie.id) }}">
          <input type="number" name="rating"/>
          <input type="submit" value="Add rating"/>
        </form>
      </td>
       <td>
        <form method="POST" action="{{ url_for('add_movie_to_wishlist', movie_id=movie.id) }}">
          <input type="submit" value="Add to wish list"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}