{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('movies_update', movie_id=movie_id) }}">
  <table>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.name.label }}</strong>
      </td>
      <td>
        {{ form.name(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.year.label }}</strong>
      </td>
      <td>
        {{ form.year(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.year.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.runtime.label }}</strong>
      </td>
      <td>
        {{ form.runtime(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.runtime.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding-top:6px; padding-right:10px">
        <strong>{{ form.genre.label }}</strong>
      </td>
      <td>
        {{ form.genre(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.genre.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" class="btn btn-primary" value="Update movie" style="margin-top:10px"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}