{% extends "layout.html" %}

{% block body %}
<h1>{{ movie.name }} ({{ movie.year }})</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="row" style="margin:0; border-bottom: 1px solid lightgray">
      <div style="width:100px"><strong>Runtime:</strong></div>
      <div>{{ movie.runtime }} min</div>
    </div>
    <div class="row" style="margin:0; border-bottom: 1px solid lightgray">
      <div style="width:100px"><strong>Genre:</strong></div>
      <div>{{ movie.genre }}</div>
    </div>

    {% if movie.actors %}
    <div class="row" style="margin:0">
      <div style="width:100px"><strong>Cast:</strong></div>
      <div>
        {% for actor in movie.actors %}
        <span>{{ actor.name }}</span>
        <br/>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="col-sm-6">
    {% if current_user.is_authenticated %}
    <form method="POST" action="{{ url_for('update_wishlist', movie_id=movie.id) }}">
      <label> In wishlist </label>
      <input type="checkbox"
             name="wishlist"
             onclick="this.form.submit();"
             {% if rating.want_to_watch %} checked {% endif %}/>
    </form>

    <form method="POST" action="{{ url_for('add_rating', movie_id=movie.id) }}">
      <div class="row" style="margin:0">
        <div style="margin-top:5px; margin-right:10px">{{ form.rating.label }}</div>
        <div style="width:50px; margin-right:10px">{{ form.rating(class_='form-control') }}</div>
        <input type="submit" class="btn btn-primary" value="Rate movie"/>
      </div>
      <ul>
        {% for error in form.rating.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </form>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Log in to rate this movie</a>
    {% endif %}
  </div>
</div>

{% endblock %}